<div class="main">
  <div class="form">
    <form [formGroup]="contactform" (change)="submit()">
      <p>
        <select formControlName="chart">
          <option [ngValue]="null" disabled>Select Chart Type</option>
          <option *ngFor="let chart of charts" [ngValue]="chart.name">{{chart.name}}</option>
        </select>
      </p>
    </form>
  </div>
  <div class="canvas">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [type]="barChartType" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>